body {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#chess {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chess-board {
    position: relative;
    margin: auto;
}

.row {
    display: grid;
    border-top: 1px solid #979797;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.row:last-child {
    border-bottom: 1px solid #979797;
}

.row .box {
    background-color: #f2f2f2;
}

.row:nth-of-type(odd) .box:nth-child(odd) {
    background-color: #c4c4c4;
}

.row:nth-of-type(even) .box:nth-child(even) {
    background-color: #c4c4c4;
}

.box {
    border-left: 1px solid #979797;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box:first-child {
    border-right: none;
}

.box:last-child {
    border-right: 1px solid #979797;
}

.box span {
    font-size: x-large;
}

.piece {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece span {
    font-size: 48px;
}